@screen md {
  .decor-rock::after {
    content: '';
    width: 550px;
    height: 550px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    background-image: url(@/assets/images/figure.png);
    background-repeat: no-repeat;
    background-size: cover;
    @apply tw-bg-primary;
  }
}

@screen xl {
  .decor-rock::after {
    width: 700px;
    height: 700px;
  }
}

@screen 2xl {
  .decor-rock::after {
    width: 1260px;
    height: 1260px;
    left: 0;
    top: -183px;
  }
}
